@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  color: rgb(236, 236, 236);
}

body {
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: #fff;
  text-transform: uppercase;
}

.selection1,
.selection2,
.selection3,
.selection4,
.selection5,
.selection6,
.selection7,
.selection8 {
  padding: 2vh 2vw 2vh 2vw;
  width: 100%;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection1 {
  background-image: url(/img/andre-benz-e4xOmzd8vzg-unsplash.jpg);
}

.selection2 {
  background-image: url(/img/de-andre-bush-WatRwqzvNlE-unsplash.jpg);
}

.selection3 {
  background-image: url(/img/dimitry-zub-4A-b-JfusW0-unsplash.jpg);
}

.selection4 {
  background-image: url(/img/hanandito-adi-kieIGjdPTno-unsplash.jpg);
}

.selection5 {
  background-image: url(/img/kristaps-ungurs-zdicMFryAAg-unsplash.jpg);
}

.selection6 {
  background-image: url(/img/mark-chan-7eiNpAP3rTo-unsplash.jpg);
}

.selection7 {
  background-image: url(/img/tim-durgan-pQSb6WNSY8M-unsplash.jpg);
}

.selection8 {
  background-size: 100%;
  background-image: url(/img/traf-FJ7yKxzhzms-unsplash.jpg);
}

.title,
.title2 {
  z-index: 1;
  position: relative;
  width: 1600px;
  height: 96vh;
  border-radius: 10px;
  /* background: rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  display: flex;
  justify-content: center;
    align-items: center;
}
.title2{
  align-items: none;
  max-height: 80vh;
}
@media (max-width: 1920px) {
  .title,
  .title2{
    width: calc(+(96vw - 20vw)*((100vw - 320px) / (1920px - 320px)));
  }
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 30px;
  grid-template-areas:
    "grid_IMG grid_main_text"
    "grid_add_text grid_main_text";
}

.grid_IMG {
  grid-area: grid_IMG;
}

.grid_main_text {
  grid-area: grid_main_text;
  margin-top: 30%;
  padding: 10px;
  backdrop-filter: blur(3px);
  background-color: rgba(23, 36, 52, 0.35);
  border-radius: 10px;
}

.grid_add_text {
  grid-area: grid_add_text;
  backdrop-filter: blur(3px);
    padding: 10px;
    background-color: rgba(23, 36, 52, 0.35);
      border-radius: 10px;
}
.title3 img {
  background-color: #fff;
  border-radius: 10px;
  filter: brightness(95%);
  max-width: 45vw;
  background-size: cover;
}
.grid_main_text_st {
  margin: 10px;
  max-width: 60%;
    backdrop-filter: blur(3px);
    padding: 10px;
    background-color: rgba(23, 36, 52, 0.35);
    border-radius: 10px;
}

.title2 img {
  background-color: #fff;
  border-radius: 10px;
  filter: brightness(95%);
  max-width: 45vw;
  background-size: cover;
}
.cont{margin-left: 5vw;}

.title,
.title2  h1 {
  
  position: relative;
  font-size: 2.5em;
  color: #fff;
}

.title,
.title2 p {
  position: relative;
  font-size: 1.5em;
  color: #fff;
  font-weight: 300;
}

.title2  a {
  display: flex;
  position: relative;
  display: inline-block;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 10px 70px;
    margin-top: 15px;
}

.title  a {
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500px;
    background: #fff;
    color: #000;
    padding: 10px 20px;
}
.title3 h1 {
  position: relative;
  font-size: 2.5em;
  color: #fff;
}

.title3 p {
  position: relative;
  font-size: 1.5em;
  color: #fff;
  font-weight: 300;
}